<img src="https://i.pinimg.com/originals/81/0d/14/810d14dc8fc8a176bc040852693621f5.jpg"></img>

# <center>EDA Project on IPL Dataset</center>

# Table Of Contents<br>
1. [Preparing Notebook](#1)<br>
2. [Loading Data and Preprocessing](#2)<br>
   - 2.1. [Loading Data and Basic info about the data](#2_1)<br>
   - 2.2. [Describe and find info about the data](#2_3)<br>
   - 2.3. [Data Pre profiling](#2_4)<br>
   - 2.4. [Drop id, date and umpire3 column](#2_5)<br>
   - 2.5. [Fill missing values in City column](#2_6)<br>
   - 2.6. [Fill null values for remaining values](#2_7)<br>
   - 2.7. [Rename Decan charges as SRH & Fix RPS names](#2_9)<br>
   - 2.8. [Data Post Profiling](#2_8)<br>
   <br>
3. [EDA on IPL data](#3)<br>
    - 3.1. [Univariate Analysis](#3_1)<br>
        - 3.1.1. [What are the different teams played in IPL?](#3_1_1)<br>
        - 3.1.2. [which are top 5 cities where maximum number of matches are played ?](#3_1_2)<br>
        - 3.1.3. [How many matches played in each seasons of IPL ?](#3_1_3)<br>
        - 3.1.4. [What has been the major decesion when toss is won ?](#3_1_4)<br>
        - 3.1.5. [Which have been top teams who have won the toss maximum number of times ?](#3_1_5)<br>
        - 3.1.6. [What are the top 5 venues where matches have been played ?](#3_1_6)<br>
        - 3.1.7. [Which are top 3 teams which have won maximum matches ?](#3_1_7)<br>
        - 3.1.8. [How many matches have been no_result or draw?](#3_1_8)<br>
        - 3.1.9. [How many matches have won batting first and won batting second ?](#3_1_9)<br>
        - 3.1.10. [Who have done umpring maximum number of times ?](#3_1_10)<br>
        - 3.1.11. [Which team has played maximum matches ?](#3_1_11)<br>

In [1]:
import numpy as np                     

import pandas as pd
pd.set_option('mode.chained_assignment', None)      # To suppress pandas warnings.
pd.set_option('display.max_colwidth', -1)           # To display all the data in each column
pd.options.display.max_columns = 50                 # To display every column of the dataset in head()

import warnings
warnings.filterwarnings('ignore')                   # To suppress all the warnings in the notebook.

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set(style='whitegrid', font_scale=1.3, color_codes=True)

In [2]:
!pip install plotly --upgrade
!pip install chart-studio

Collecting plotly
  Using cached https://files.pythonhosted.org/packages/8e/ce/6ea5683c47b682bffad39ad41d10913141b560b1b875a90dbc6abe3f4fa9/plotly-4.4.1-py2.py3-none-any.whl
Collecting six (from plotly)
  Using cached https://files.pythonhosted.org/packages/65/26/32b8464df2a97e6dd1b656ed26b2c194606c16fe163c695a992b36c11cdf/six-1.13.0-py2.py3-none-any.whl
Collecting retrying>=1.3.3 (from plotly)
Installing collected packages: six, retrying, plotly
Successfully installed plotly-4.4.1 retrying-1.3.3 six-1.13.0
Collecting chart-studio
Collecting six (from chart-studio)
  Using cached https://files.pythonhosted.org/packages/65/26/32b8464df2a97e6dd1b656ed26b2c194606c16fe163c695a992b36c11cdf/six-1.13.0-py2.py3-none-any.whl
Collecting requests (from chart-studio)
  Using cached https://files.pythonhosted.org/packages/51/bd/23c926cd341ea6b7dd0b2a00aba99ae0f828be89d72b2190f27c11d4b7fb/requests-2.22.0-py2.py3-none-any.whl
Collecting retrying>=1.3.3 (from chart-studio)
Collecting plotly (from chart-studio)
  Using cached https://files.pythonhosted.org/packages/8e/ce/6ea5683c47b682bffad39ad41d10913141b560b1b875a90dbc6abe3f4fa9/plotly-4.4.1-py2.py3-none-any.whl
Collecting urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 (from requests->chart-studio)
  Using cached https://files.pythonhosted.org/packages/b4/40/a9837291310ee1ccc242ceb6ebfd9eb21539649f193a7c8c86ba15b98539/urllib3-1.25.7-py2.py3-none-any.whl
Collecting certifi>=2017.4.17 (from requests->chart-studio)
  Using cached https://files.pythonhosted.org/packages/b9/63/df50cac98ea0d5b006c55a399c3bf1db9da7b5a24de7890bc9cfd5dd9e99/certifi-2019.11.28-py2.py3-none-any.whl
Collecting chardet<3.1.0,>=3.0.2 (from requests->chart-studio)
  Using cached https://files.pythonhosted.org/packages/bc/a9/01ffebfb562e4274b6487b4bb1ddec7ca55ec7510b22e4c51f14098443b8/chardet-3.0.4-py2.py3-none-any.whl
Collecting idna<2.9,>=2.5 (from requests->chart-studio)
  Using cached https://files.pythonhosted.org/packages/14/2c/cd551d81dbe15200be1cf41cd03869a46fe7226e7450af7a6545bfc474c9/idna-2.8-py2.py3-none-any.whl
Installing collected packages: six, urllib3, certifi, chardet, idna, requests, retrying, plotly, chart-studio
Successfully installed certifi-2019.11.28 chardet-3.0.4 chart-studio-1.0.0 idna-2.8 plotly-4.4.1 requests-2.22.0 retrying-1.3.3 six-1.13.0 urllib3-1.25.7

In [3]:
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
import chart_studio.plotly as py
from plotly import tools
init_notebook_mode(connected=True)

<a id='2'></a>
# 2. Data Preprocessing

<a id='2_1'></a>
## 2.1 Loading Data.

In [4]:
df_matches = pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Projects/matches.csv',sep=',')
df_matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [5]:
#df_matches.set_index('id',inplace=True)
#df_matches.head()

<a id='2_3'></a>
## 2.2. Describe and find info about the data.

In [6]:
df_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 18 columns):
id                 696 non-null int64
season             696 non-null int64
city               689 non-null object
date               696 non-null object
team1              696 non-null object
team2              696 non-null object
toss_winner        696 non-null object
toss_decision      696 non-null object
result             696 non-null object
dl_applied         696 non-null int64
winner             693 non-null object
win_by_runs        696 non-null int64
win_by_wickets     696 non-null int64
player_of_match    693 non-null object
venue              696 non-null object
umpire1            695 non-null object
umpire2            695 non-null object
umpire3            60 non-null object
dtypes: int64(5), object(13)
memory usage: 98.0+ KB

In [7]:
df_matches.describe()

                id       season  dl_applied  win_by_runs  win_by_wickets
count  696.000000   696.000000   696.000000  696.000000   696.000000
mean   974.103448   2012.965517  0.027299    13.472701    3.349138
std    2143.239623  3.069266     0.163070    23.607994    3.411398
min    1.000000     2008.000000  0.000000    0.000000     0.000000
25%    174.750000   2010.000000  0.000000    0.000000     0.000000
50%    348.500000   2013.000000  0.000000    0.000000     3.000000
75%    522.250000   2016.000000  0.000000    19.000000    6.000000
max    7953.000000  2018.000000  1.000000    146.000000   10.000000

In [8]:
df_matches.isnull().sum()

id                 0
season             0
city               7
date               0
team1              0
team2              0
toss_winner        0
toss_decision      0
result             0
dl_applied         0
winner             3
win_by_runs        0
win_by_wickets     0
player_of_match    3
venue              0
umpire1            1
umpire2            1
umpire3            636
dtype: int64

<a id='2_4'></a>
## 2.3. Data pre profiling.
Let us explore more about the data (Profiling).

In [9]:
!pip install pandas-profiling --upgrade

Collecting pandas-profiling
  Using cached https://files.pythonhosted.org/packages/2c/2f/aae19e2173c10a9bb7fee5f5cad35dbe53a393960fc91abc477dcc4661e8/pandas-profiling-2.3.0.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-build-8WDtw6/pandas-profiling/setup.py", line 1, in <module>
        from pathlib import Path
    ImportError: No module named pathlib

    ----------------------------------------
Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-build-8WDtw6/pandas-profiling/

In [10]:
import pandas_profiling 


profile = df_matches.profile_report(title="IPL Matches Data before Data Preprocessing",correlations={"cramers": False})
profile.to_file(output_file="ipl_matches_profiling_before_preprocessing.html")

ModuleNotFoundError: No module named 'pandas_profiling'

## Info from profiling.
1. <b>Date</b> column has very high cardinalty (498), Let's drop the column.
2. <b>City</b> also has 7 missing values, we can get try to get the city from Venue.
3. <b>umpire3</b> has Lot of missing values, we don't have any other info from where we can get the umpire3 details. 
So let's  drop that column.
4. <b>win_by_runs</b> columns has 54.7% of zeros, this can be because the match would have been won by wickets.
5. Zeros in <b>win_by_wickets</b> column could also mean the same, i.e. match would have been won by runs.
6. <b>Id</b> columns had different ranges, so we choose to drop the column.

<a id='2_5'></a>
## 2.4. Drop id, date and umpire3 column.

In [ ]:
df_matches.drop(['id','date','umpire3'],axis=1,inplace=True)
df_matches.head()

<a id='2_6'></a>
## 2.5. Fill missing values in City column.

In [ ]:
df_matches[df_matches.city.isnull()].venue.unique()

##### It means that the city is missing for those columns with venue as 'Dubai International Cricket Stadium'

#### Lets check if anywhere in the data we have the city for this stadium

In [ ]:
df_matches[df_matches.venue=='Dubai International Cricket Stadium'].city.unique()

#### No we don't have the City for this venue. Then Lets just put the city as Dubai.

In [ ]:
df_matches.loc[df_matches.city.isnull(),'city'] = 'Dubai'

In [ ]:
df_matches[df_matches.venue=='Dubai International Cricket Stadium'].head()

In [ ]:
df_matches.isnull().sum()

##### From the above data,we confirm that there exist no null values for city now.

<a id='2_7'></a>
## 2.6. Fill null values for remaining values.
Let's find out the reason, and try to eliminate the null values for 'winner','player_of_match','umpire1','umpire2'

In [ ]:
df_matches[df_matches.winner.isnull()]

Matches for no result have 'winner' and 'player_of_match' as null. 
Here are some of the choices i have to fill these null values.

1. Drop these columns, as they constitute very small percentage in data.
2. Replace the null values with some other value such as 'Not decided'.
3. Replace the 'winner' with team which has won more matches agaisnt each other, and 'player_of_match' as most number of times player_of_match name in a winning team.

The last solution might make data little more complicated, and we might land in situations as follows.

1. what if number of matches won against eachother is same.
2. what if number of palyer_of_match is maximum and equal for more than one player.
       
So i will choose the (2). and replace null values as not decided.

In [ ]:
df_matches.loc[df_matches.winner.isnull(),['winner','player_of_match']] = 'undecided'
df_matches.loc[df_matches.result=='no result']

#### Now lets check where is umpire1 and umpire2 missing in data.

In [ ]:
df_matches[df_matches.umpire2.isnull()]

##### umpire1 and umpire2 are missing for same match, lets see the value counts and replace it with most frequent accurance of umpire.

In [ ]:
ump1 = df_matches.umpire1.value_counts().head(1).index
ump2 = df_matches.umpire2.value_counts().head(1).index
df_matches.loc[df_matches.umpire1.isnull(),'umpire1'] = ump1
df_matches.loc[df_matches.umpire2.isnull(),'umpire2'] = ump2
df_matches.head()

In [ ]:
df_matches.isnull().sum()

<a id='2_9'></a>
## 2.7. Rename Decan charges as SRH & Fix RPS names

### Hurray! No missing data at all now.

<a id='2_8'></a>
## 2.8. Data post profiling.
Lets do post profiling and get the profiling info of the current data.

In [ ]:
import pandas_profiling 


profile = df_matches.profile_report(title="IPL Matches Data After Data Preprocessing",correlations={"cramers": False})
profile.to_file(output_file="ipl_matches_profiling_after_preprocessing.html")

### Data Looks much cleaner Let's proceed with EDA.

<a id='3'></a>    
# 3. EDA on IPL data
et's perform EDA on the preprocessed data.

In [ ]:
df_matches.head()

<a id='3_1'></a>
## 3.1. Univariate Analysis

<a id='3_1_1'></a>
### 3.1.1. What are the different teams played in IPL?

In [ ]:
unq_t1 = df_matches.team1.unique()
unq_t2 = df_matches.team2.unique()
unq = np.concatenate((unq_t1,unq_t2),axis=0)
print(np.unique(unq))

##### The differrent teams played in IPL are as follows :
1. Chennai Super Kings
2. Deccan Chargers
3. Delhi Daredevils
4. Gujarat Lions
5. Kings XI Punjab
6. Kochi Tuskers Kerala
7. Kolkata Knight Riders
8. Mumbai Indians
9. Pune Warriors
10. Rajasthan Royals
11. Rising Pune Supergiants
12. Royal Challengers Bangalore
13. Sunrisers Hyderabad

<a id='3_1_2'></a>
### 3.1.2. which are top 5 cities where maximum number of matches are played ?

In [ ]:
df_matches.groupby('city')['season'].count().sort_values(ascending=False)[:5].plot(kind='barh', figsize=(10,5), fontsize=15)

##### The Top Cities where maximum matches played are :
1. Mumbai.
2. Kolkata.
3. Delhi.
4. Bangalore.
5. Hydrabad.

<a id='3_1_3'></a>
### 3.1.3. How many matches played in each seasons of IPL ?

In [ ]:
df_matches.groupby('season')['city'].count().sort_values(ascending=False).plot('bar', figsize=(10,5), fontsize=15)

##### From above figure we can say that highest number of matches were played in 2013, and lowest number of matches were played in 2009.

<a id='3_1_4'></a>
### 3.1.4. What has been the major decesion when toss is won ?

In [ ]:
df_matches.groupby('toss_decision')['season'].count().plot(kind='pie', figsize=(5,5), fontsize=15, autopct='%3.1f%%', wedgeprops=dict(width=0.7), explode=[0.01, 0.01], startangle=90)

From above chart we can see that the teams winning the toss have selected to field i.e. <b>59.3%</b>.<br>
<b>40.7%</b> of the times the teams have selected to bat.

<a id='3_1_5'></a>
### 3.1.5. Which have been top teams who have won the toss maximum number of times ?

In [ ]:
df_matches.groupby('toss_winner')['season'].count().sort_values(ascending=False)[:5].plot(kind='barh', figsize=(10,5), fontsize=15)

From the above figure it is clear than <b>Mumbai Indians</b> and <b>Kokata Knight Riders</b> have won the toss maximum number of times.

<a id='3_1_6'></a>
### 3.1.6. What are the top 5 venues where matches have been played ?

In [ ]:
df_matches.groupby('venue')['season'].count().sort_values(ascending=False)[:5].plot(kind='barh', figsize=(10,5), fontsize=15)

The above graph represent the top 5 venue's where maximum matches have been played.<br> <b>M Chinnaswamy Stadium</b> being the Top venue.

<a id='3_1_7'></a>
### 3.1.7. Which are top 3 teams which have won maximum matches ?

In [ ]:
df_matches.groupby('winner')['season'].count().sort_values(ascending=False)[:3].plot(kind='bar', figsize=(10,5), fontsize=15)

The above are teams that have won maximum number of matches.<br> <b>Mumbai Indians</b> being the top team.

<a id='3_1_8'></a>
### 3.1.8. How many matches have been no_result or draw?

In [ ]:
results_df = df_matches.groupby('result')['season'].count()
print(results_df)
results_df.plot(kind='pie', figsize=(5,5), fontsize=10, wedgeprops=dict(width=0.5), explode=[0.1, 0.1,0.1], startangle=0, label='Matches result ')

From above we confirm the that <b>7 - Tie</b> and <b>3 - no result</b>.

<a id='3_1_9'></a>
### 3.1.9. How many matches have won batting first  and won batting second ?

In [ ]:
w_b_r = df_matches[df_matches.win_by_runs > 0]['season'].count()
w_b_w = df_matches[df_matches.win_by_wickets > 0]['season'].count()

plt.pie([w_b_r,w_b_w], autopct='%1.1f%%', explode=[0.02,0.02], startangle=90, colors=['green','Orange'], wedgeprops=dict(width=0.7), labels=['Won_batting_First','Won_batting_Second'])

From the above figure we can say the most of the time the teams have won <b>batting second</b>.<br>
<b>54.1%  -  Batting second</b><br>
<b>45.9%  -  Batting First</b>

<a id='3_1_10'></a>
### 3.1.10. Who have done umpring maximum number of times ?

In [ ]:
top_1 = df_matches.groupby('umpire1')['season'].count().sort_values(ascending=False)[:5]
top_2 = df_matches.groupby('umpire2')['season'].count().sort_values(ascending=False)[:5]
top_1.add(top_2, fill_value=0).sort_values(ascending=False)[:5].plot(kind='bar', figsize=(10,5), fontsize=15)

The above are the top 5 Umpries who have done umpiring for maximum number of times with <b>S Ravi</b> umpiring in most of the matches.

<a id='3_1_11'></a>
### 3.1.11. Which team has played maximum matches ?

In [ ]:
max_1 = df_matches.groupby('team1')['season'].count().sort_values(ascending=False)
max_2 = df_matches.groupby('team2')['season'].count().sort_values(ascending=False)
max_1.add(max_2, fill_value=0).sort_values(ascending=False)[:5]

The above mentioned are the top 5 teams who have played most number of matches with <b>Mumbai Indains</b> playine most number of matches