<img src = 'https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true' width="240" height="360">
# __Assignment: Numpy and Pandas__
### Level: 2

### 1. Form a 1D array containing elements from -2(including) to 10(excluding) in arithmetic progression with common difference 1.5 , negate all elements which are between 2 and 7, in place. Print out this new array.

In [77]:
import numpy as np

print()
def generate():
    vec = np.arange(-2,10,1.5)
    vec = np.where(((vec>=2) & (vec <=7)),vec*-1,vec)
    return vec# return modified array
generate()

array([-2. , -0.5,  1. , -2.5, -4. , -5.5, -7. ,  8.5])

### 2. Create random vector of size 7 and replace the maximum value by 2 and minimum by 7. Sort this array in reverse order. Return the modified vector.

In [37]:
import numpy as np
def generate():
    vec = np.random.rand(7)
    vec = np.where((vec==vec.max()),2,vec)
    vec = np.where((vec==vec.min()),7,vec)
    vec = np.sort(vec)
    vec = vec[::-1]
    return vec
generate()

array([7.        , 2.        , 0.59297371, 0.4512683 , 0.24293728,
       0.23854313, 0.20970291])

### 3. Convert a random 7x2 matrix representing cartesian coordinates to polar coordinates. Print out both.
Hint: use arctan2().

In [59]:
import numpy as np
def generate():
    cd = np.arange(14).reshape(7,2)
    cd1 = np.sqrt(cd[:,0]**2+cd[:,1]**2),np.arctan2(cd[:,1],cd[:,0])
    print(cd)
    print(np.matrix(cd1).T)
    return None
generate()

[[ 0  1]
 [ 2  3]
 [ 4  5]
 [ 6  7]
 [ 8  9]
 [10 11]
 [12 13]]
[[ 1.          1.57079633]
 [ 3.60555128  0.98279372]
 [ 6.40312424  0.89605538]
 [ 9.21954446  0.86217005]
 [12.04159458  0.84415399]
 [14.86606875  0.83298127]
 [17.69180601  0.82537685]]

### 4. Create an numpy array sequence named num_seq when only the starting point, step size and length of sequence is given.

In [71]:
import numpy as np

length = 15
start = 5
step = 2

def generate(start, length, step):
    end = start + (length - 1)*step  # Tn = a + (n-1)d
    num_seq = np.arange(start,end+1,step)
    # your code here
    return num_seq
generate(start, length, step)

array([ 5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33])

### 5. Make a 3*3 array using a 1d array of evenly spaced numbers ranging from 0 to 9, name it arr1.<br/> 
### Then transpose it to obtain arr2.  From arr2 subtract a 1*3 array with all elements 1 to get arr4.
HINT: Use reshape and transpose function.

In [76]:
import numpy as np
def generate():
    arr1 = np.arange(0,9,1).reshape(3,3)  #generate array and reshape to given size
    arr2 = arr1.T  #get the transpose
    arr3 = np.ones((1,3)) #get array with only ones [1,1,1]
    arr4 = arr2 - arr3  #subtract arr2 - arr3
    return arr4
generate()

array([[-1.,  2.,  5.],
       [ 0.,  3.,  6.],
       [ 1.,  4.,  7.]])

### 6. Create a DatetimeIndex that contains each business day of 2016 and use it to index a Series of random numbers. Let's call this Series bus_2k16. Print it out. Hint: use pd.date_range.

In [85]:
import pandas as pd
import numpy as np
def generate():
    labels = pd.bdate_range('1/1/2016','31/12/2016')
    np_ser = np.random.random_sample(len(labels))
    bus_2k16 = pd.Series(np_ser, index=labels)
    print(bus_2k16)
    return None
generate()

2016-01-01    0.705279
2016-01-04    0.314506
2016-01-05    0.551366
2016-01-06    0.927191
2016-01-07    0.497408
                ...
2016-12-26    0.505756
2016-12-27    0.025392
2016-12-28    0.093198
2016-12-29    0.149779
2016-12-30    0.367147
Freq: B, Length: 261, dtype: float64

###  7. For each calendar month in dataframe bus_2k16, from previous problem. Print out the mean of values also find the sum of the values in bus_2k16 for every Sunday.

In [130]:
import pandas as pd
def generate():
    labels = pd.date_range('1/1/2016','31/12/2016')
    np_ser = np.random.random_sample(len(labels))
    bus_2k16 = pd.Series(np_ser, index=labels)
    mean_2k16 = bus_2k16.groupby(pd.DatetimeIndex(bus_2k16.index).month).mean()
    print(mean_2k16)
    ## There is ambiguity is question the last question says that need to generate bussiness days,
    # but here it talks about sundays, which does not come under bussiness days
    # Anyway i have assumed it to be all days not just bussiness days.
    noofsundays = bus_2k16[pd.DatetimeIndex(bus_2k16.index).dayofweek == 6].sum() 
    print(noofsundays)
    return None
generate()

1     0.520345
2     0.509059
3     0.447951
4     0.524021
5     0.515543
6     0.465957
7     0.558518
8     0.423169
9     0.485376
10    0.467796
11    0.459355
12    0.520911
dtype: float64
24.259385956196915

### 8.Given the dataframe df, In the From_To column split each string on the underscore delimiter _ to give a new temporary DataFrame with the correct values. Also standardise the strings so that only the first letter is uppercase (e.g. "londON" should become "London".) Assign the correct column names to this temporary DataFrame named as temp. Return temp.

In [154]:
import numpy as np
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})
import pandas as pd
def generate():
    temp = df
    new = temp['From_To'].str.split('_',n = 1, expand = True)
    temp['From'] = new[0].str.capitalize()
    temp['To'] = new[1].str.capitalize()
    temp.drop('From_To', axis=1,inplace =True)
    return temp
generate()

   FlightNumber  RecentDelays              Airline      From         To
0       10045.0      [23, 47]               KLM(!)    London      Paris
1           NaN            []    <Air France> (12)    Madrid      Milan
2       10065.0  [24, 43, 87]  (British Airways. )    London  Stockholm
3           NaN          [13]       12. Air France  Budapest      Paris
4       10085.0      [67, 32]          "Swiss Air"  Brussels     London

### 9. Given a dataFrame with 10 columns of real numbers. Find that column's label which has the smallest sum? Also count the number of unique rows the dataframe has. 
Hint: use idxmin method.

In [178]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.random(size=(4, 10)), columns=list('qrstuvwxyz'))
#print(df)
def generate():
    sums = list()
    for col in df.columns:
        sums.append(df[col].sum())
    print(min(sums))
    unique_rows = df.groupby(list('qrstuvwxyz')).size().sum()
    print(unique_rows)
    return None
generate()

0.716197924976257
4

### 10. Given a dataFrame df with a column 'int' of integers. Print out the dataframe with filtered out rows which contain the same integer as the row immediately above. Also print out the dataframe after subtracting the mean of all integers from each element .
Hint: use drop_duplicates and sub methods

In [185]:
import pandas as pd
df = pd.DataFrame({'int': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
def generate():
    df.drop_duplicates(inplace=True)
     # Print out the dataframe with filtered out rows which contain the same integer as the row immediately above
    print(df)
    df['int'] -= df['int'].mean()
    # Print out the dataframe after subtracting the mean of all integers from each element
    print(df)
    return None
generate()

   int
0    1
1    2
3    3
4    4
5    5
8    6
9    7
   int
0 -3.0
1 -2.0
3 -1.0
4  0.0
5  1.0
8  2.0
9  3.0